body {
  font-family: 'Poppins', sans-serif;
}

.gradient-background {
  background: linear-gradient(300deg, #9e03ff, #c003ff, #a703ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-pills .nav-link.active {
  background-color: #9414c6 !important;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: linear-gradient(300deg, #9e03ff, #a703ff);
}

.feature-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: .75rem;
}

.testimonial-card {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.company-logo {
  max-height: 45px;
  width: auto;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.company-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.cta-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.info-showcase-img {
  width: 80%;
  height: 350px;
  border-radius: 21px;
  background-image: url('/images/lenguajes.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
}

.social-icons a {
  transition: opacity 0.3s ease;
}

.social-icons a:hover {
  opacity: 0.7;
}